# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=stockwise_db
POSTGRES_PORT=5432
DATABASE_URL="postgresql://postgres:<postgres_password>@localhost:5432/stockwise_db?schema=public"
